:root {
    --grey: #cdd2d4;
    --dark-grey: #46495d;
    --blue: #2f55db;
    --dark-blue: #3959c0;
    --text: #67686f;
    --white: #ffffff;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .tracker {
    background-color: var(--dark-grey);
    border-radius: 4px;
    color: var(--white);
    padding: 4px 8px;
    position: relative;
    margin-bottom: 16px;
  }
  
  .tracker-arrow {
    position: absolute;
    left: 0;
    top: 88%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--dark-grey);
  }
  
  article {
    padding: 24px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    border-top: none;
    position: relative;
    width: 336px;
  }
  
  @media (max-width: 336px) {
    article {
      width: 100%;
    }
  }
  
  .progress-container {
    position: absolute;
    border-top: 4px solid var(--grey);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    left: 0;
    width: 100%;
    top: 0;
  }
  
  .progress-bar {
    content: "";
    position: absolute;
    border-top: 4px solid var(--dark-blue);
    border-top-left-radius: 8px;
    left: 0;
    top: -4px;
    max-width: 100%;
  }
  
  h1 {
    color: #333;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
  }
  
  p {
    font-weight: 500;
    color: var(--text);
  }
  
  .donors {
    font-weight: 600;
  }
  
  .form-container {
    display: flex;
    align-items: center;
  }
  
  .input-container {
    flex-grow: 1;
    position: relative;
  }
  
  .dollar {
    font-weight: 600;
    position: absolute;
    left: 8px;
    top: 8px;
  }
  
  input {
    border: 1px solid var(--grey);
    border-radius: 2px;
    padding: 4px 8px 4px 20px;
    height: 32px;
    width: 100%;
  }
  
  /* Hides the increment and decrement spinners on Chrome.
     Unfortunately does not hide them on Firefox.
     These are rendered by default on the native number input field.*/
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  input:valid {
    border: 1px solid var(--grey);
    box-shadow: none;
  }
  
  input:invalid {
    border: 2px solid red;
    box-shadow: none;
  }
  
  button {
    background-color: var(--blue);
    border: none;
    border-radius: 2px;
    color: var(--white);
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    margin-left: 4px;
    padding: 0 12px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #2344bd;
  }
  
  .sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  